<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Edit Theater</h3>
        </div>
        <div class="card-body">
            <form action="/theaters/edit-theater/{{theater.id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" value="{{theater.name}}">
                </div>
                <div class="form-group">
                    <input type="text" name="address" class="form-control" placeholder="Address" value="{{theater.address}}">
                </div>
                <div class="form-group">
                    <input type="number" name="phone" class="form-control" placeholder="Phone" value="{{theater.phone}}">
                </div>
                <div class="form-group">
                    <input type="text" name="staging" class="form-control" placeholder="Staging" value="{{theater.staging}}">
                </div>
                <div class="from-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>