<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Edit Ticket</h3>
        </div>
        <div class="card-body">
            <form action="/notes/edit-note/{{note.id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="snumber" class="form-control" placeholder="Serial Number" value="{{note.snumber}}">
                </div>
                <div class="form-group">
                    <!--<input type="text" name="theater" class="form-control" placeholder="Theater" value="{{note.theater}}">-->
                    <select class="form-control" name="theater" class="form-control" placeholder="Theater" value="{{note.theater}}">
                        <option>Foro Shakespeare</option>
                    </select>
                </div>
                <div class="form-group">
                    <!--<input type="text" name="title" class="form-control" placeholder="Title" value="{{note.title}}">-->
                     <select class="form-control" name="title" class="form-control" placeholder="Staging" value="{{note.title}}">
                        <option>Un Violinista en el tejado</option>
                    </select>                
                </div>
                <div class="form-group">
                    <input type="number" name="price" class="form-control" placeholder="Price" value="{{note.price}}">
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control">{{note.description}}</textarea>
                </div>
                <div class="from-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>